<div class="container mb-3">
    <h4 class="text-center" style="color:cadetblue  ;">Add a new server to the list</h4>
    <div class="row ">
        <div class="col">
            <label class="fw-bold ps-2">Name:</label>
            <input class="form-control" type="text" placeholder="server name" [(ngModel)]="frmServerName"
                (input)="onUpdateServerName($event)">
            <!-- <label class="">{{frmServerName}}</label> -->
        </div>
        <div class="col">
            <label class="fw-bold ps-2">IP Address:</label>
            <input class="form-control" type="text" placeholder="server ip" [(ngModel)]="frmServerIp"
                (input)="onUpdateServerIp($event)">
            <!-- <label class="">{{frmServerIp}}</label> -->
        </div>
        <div class="col">
            <br>
            <button class="btn btn-primary" [disabled]="!frmHasValues" 
                (click)="onAddServerClick()">Add Server</button>
            <button class="btn btn-primary ms-3" [disabled]="!frmHasValues"
                (click)="onResetInputs()">Reset</button>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <p [ngClass]="getMessageClass()">{{frmServerMessage}}</p>
      </div>
    </div>
</div>