<div class="container mb-3">
    <app-new-server></app-new-server>
    <div class="border rounded p-3">
        <div class="row fw-bold">
            <div class="col col-xs-1">
                Server Id
            </div>
            <div class="col col-xs-2">
                Server Name
            </div>
            <div class="col col-xs-2">
                Server Ip Address
            </div>
            <div class="col col-xs-9">
                Description
            </div>
        </div>
        <hr>
        <app-server *ngFor="let server of serversList; let idx = index" [srvElement]="server">
        </app-server>
    </div>
</div>