<div class="container mb-3">
    <app-new-server (serverAdded)="onServerCreated($event)"></app-new-server>
    <div class="border rounded ps-3 pe-3">
        <div class="row fw-bold">
            <div class="col-2 border-end">
                Server Id
            </div>
            <div class="col-3 border-end">
                Server Name
            </div>
            <div class="col-3 border-end">
                Server Ip Address
            </div>
            <div class="col-4">
                Description
            </div>
        </div>
        <hr class="m-0">
        <app-server *ngFor="let server of serversList; let idx = index" [srvElement]="server">
        </app-server>
    </div>
</div>